.headpar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: snow;
    text-align: center;
}
input[type="text"]{
    width:430px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url('./images/download.png');
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding: 12px 20px 12px 30px;

}
a{
    text-decoration: none;
    
}
#search,#logo ,#navbar ,#social{
    float: left;
    margin: 20px;}
li{
        list-style-type:  none;
        display: inline;
        
        
    }
li a{
    color: rgb(65, 64, 73);
    font-size: larger;
    padding: 10px;
    margin:left 5px;
    
}
li a:hover{
    background-color: slategrey;
    color: snow;
}
.icon-facebook{
background-image:url("./images/facebook.png");
background-position: 10px 10px; 
background-repeat: no-repeat;
background-size: 30px 30px;
padding: 12px 20px 12px 20px;
}
.icon-twitter{
background-image:url("./images/twitter.jpg");
background-position: 10px 10px; 
background-repeat: no-repeat;
background-size: 30px 30px;
padding: 12px 20px 12px 20px;
}
.icon-instagram{
    background-image:url("./images/insta.jpg");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding: 12px 20px 12px 20px;
}
/* part2 buy sound style */

#findsound{
    width: 100%;
    height: 373px;
    background-color: black;
}
#words{
    width: 50%;
    height: 100%;
    float: left;
    
}
.linesound{
    color:white ;
    font-size: 52px;
    font-family:'HelveticaNeueLTPro-Bold', 'Helvetica', 'sans-serif' ;
    font-weight: 400;
    line-height: 64px; 
    vertical-align: baseline;
    text-align: left;
    padding: 100px 20px 0px 140px;
  
}
.parline{
    color: white;
    text-align: left;
    font-size:16px ;
    font-family:'HelveticaNeueLTPro-Bold', 'Helvetica', 'sans-serif' ;
    font-weight: 400;
    line-height:22.88px; 
    vertical-align: baseline;
    padding: 0px 20px 10px 140px;
   
}
.rpicture{
    width: 50%;
    height: 100%;
    float: left;
    background-image: url('./images/hero-bg-2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}
/* featured sound */
.featured{
    color: #333333;
    text-align: left;
    font-size:28px ;
    font-family:'HelveticaNeueLTPro-Bold', 'Helvetica', 'sans-serif' ;
    font-weight: 400;
    line-height:38px; 
    vertical-align: baseline;
    padding:30px 20px 5px 150px;
    

}
.all-image{
    position: relative;
    display: inline-block;
    z-index: 1;
    margin: 0 4px 8px;
    line-height: 0;
    margin:3px;
}
.all-image h3 {
    margin: 0;
    padding: 0;
    display: table;
    height: 142px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;  
}
.all-image h3 a, .all-image h3 span{
    font-family: FuturaPTHeavy,Helvetica,sans-serif;
    position: relative;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    letter-spacing: 3.4px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.container{
    padding:0px 0px 0px 150px;
}
.tab-title {
    font-family: HelveticaNeueLTPro-Bold,Helvetica,sans-serif;
    display: inline-block;
    color: #828282;
    padding: 10px 24px 20px;
    cursor: pointer;
}
.tab-title:focus, .tab-title:hover {
    color: #1a1a1a;
}
.contuser{
    background-color: #F4F9F7;
    width: 100%;
    height: 668px;
}
.registuser{
    font-family:HelveticaNeueLTPro-Bold, Helvetica, sans-serif;
    color:#2d4a41;
    background-color: rgba(0, 0, 0, 0);
    font-size: 42px;
    line-height: 38px;
    text-align:left;
    font-weight: 400;
    margin: 12px 12px 14px;
    font-style: normal;
    padding: 10px 20px  10px 15px;
}
#fact{
    width: 200px;
    height: 300px;
    padding:0px 0px 0px 150px;
    text-align: left;
    float: left;
}
.fa-font{
    font-size: 14px;
    color: #333333;
    font-family: 'HelveticaNeueLTPro-Roman', 'Helvetica', 'sans-serif';
    font-weight: 400;
    line-height: 20.02px;
    text-align: left;
    font-style: normal;
}
.trust{
    width: 100%;
    height: 600px;
    background-color: black;
}
.text-tap{
    width: 490px;
    height: 100%;
    color:white ;
    font-size: 52px;
    font-family:'HelveticaNeueLTPro-Bold', 'Helvetica', 'sans-serif' ;
    font-weight: 400;
    line-height: 64px; 
    vertical-align: baseline;
    text-align: left;
    padding: 100px 20px 0px 140px;
    float: left;
}
.pict-tap{
    width: 800px;
    height: 100%;
    background-image: url('./images/home-clients-6.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    float: right;
}
.brand{
    padding: 15px 20px;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.pict-dow{
    width: auto;
    height: 250px;
    color:white ;
    font-size: 52px;
    font-family:'HelveticaNeueLTPro-Bold', 'Helvetica', 'sans-serif' ;
    font-weight: 400;
    line-height: 48px; 
    text-align:left;
    padding: 100px 20px 0px 500px;
    background-color:black;
}
.pict-dow a{
    color:limegreen;
}
.pict-dow a:hover{
    color: lightgreen;
}
.footer{
    background-color: black;
    width:auto;
    height: 100px;
    color: silver;
}
.logo{
    padding: 10px 20px 0px 100px;;
}

